*{
margin: 0;
padding: 0;

}
.movie_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.App{
 overflow-x: hidden;


}



/* https://api.themoviedb.org/3/movie/157336?api_key={api_key}
https://api.themoviedb.org/3/movie/157336/videos?api_key={api_key}
With append_to_response you can issue a single request:

https://api.themoviedb.org/3/movie/157336?api_key={api_key}&append_to_response=videos
Even more powerful, you can issue multiple requests, just comma separate the values:

https://api.themoviedb.org/3/movie/157336?api_key={api_key}&append_to_response=videos,images */
