body{

    background-color: #0d253f;
    color: white;
}

.SingleMovie{
 display: flex;
 flex-direction: column;

}
.top{
display:flex;
justify-content: space-around;
border: 1px solid lightgrey;
}

.left_handle {
 margin-left: 1.25em;
 margin-top:1.25em;

}
.right_handle{
    margin-left: 1.25em;
    margin-top:1.25em;
  
}
